<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cw.dao.CommentMapper">

    <!-- 封装返回结果resultMap -->
    <resultMap id="commentResultMap" type="com.alibaba.fastjson.JSONObject">
        <id property="id" column="id"/>
        <id property="userId" column="user_id"/>
        <id property="anaId" column="ana_id"/>
        <id property="anaTitle" column="ana_title"/>
        <id property="commentContent" column="comment_content"/>
        <id property="createDate" column="create_date"/>
    </resultMap>

    <!-- 用户评论 -->
    <insert id="addComment">
        INSERT INTO `comment`(`user_id`,`ana_id`,`comment_content`,`create_date`) VALUES (#{user_Id},#{anaId},#{commentContent},NOW());
    </insert>

    <!-- 获取语录的评论 -->
    <select id="getCommentList" resultMap="commentResultMap">
        SELECT c.*,u.user_name as userName
        FROM `comment` c
        INNER JOIN `user` u ON c.user_id = u.id
        WHERE ana_id = #{anaId}
    </select>

</mapper>